
{% block title %}
<h1>Список фруктов</h1>
{% endblock %}

{% block menu %}

{% endblock %}

{% block content %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script>
        function fetchFruits(){
            $.get('http://localhost:8080/only', 
                    function(data){
                       $('#only').replaceWith(data);
                    }
                );
        }
        window.setInterval(fetchFruits, 1000)
    </script>
    <p id="only">
    </p>
{% endblock %}